---
import axios from "axios";
import Swiper, { Pagination } from 'swiper';

export async function fetchArticles() {
    const response = await axios.get(
        "https://api.storyblok.com/v2/cdn/stories/",
        {
            params: {
                version: "draft",
                token: "ejy8ZUEesrxQrdd351UvRQtt",
                "filter_query[spotlight][is]": "true",
            },
        },
    );

    return response.data.stories;
}

function formatDate(dateString) {
    const date = new Date(dateString);
    const day = date.getDate();
    const month = date.toLocaleString('pt-BR', { month: 'long' });
    const year = date.getFullYear();
    const time = date.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });
    const capitalizedMonth = month.charAt(0).toUpperCase() + month.slice(1);

    return `${day} de ${capitalizedMonth} de ${year} - ${time}`;
}

const articles = await fetchArticles();
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<div class="carousel-wrapper">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {articles.map(article => (
                <div class="swiper-slide image-container" key={article.uuid}>
                    <img src={article.content.Imagem.filename} alt={article.content.Imagem.alt} />
                    <div class="image-overlay"></div>
                    <div class="text-overlay">
                        <div id="article-title">
                            <h1>{article.content.title}</h1>
                        </div>
                        <div id="article-date">
                            <p>{formatDate(article.content.date)}</p>
                        </div>
                        <div  id="article-description">
                            <p>{article.content.description}</p>
                        </div>
                    </div>
                </div>
            ))}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<style>

    #article-description{
        margin-top: 30px;
        font-size: 18px;
    }

    #article-date{
        font-size: 12px;
    }

    #article-title {
        font-size: 35px;
        text-transform: uppercase;
    }

    .image-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(23, 23, 109, 0.5);
        height: 75%;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        pointer-events: none;
    }

    .swiper-wrapper {
        display: contents;
    }

    .carousel-wrapper {
        position: relative;
        width: 100%;
        height: 1000px;
        overflow: hidden;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .image-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .image-container img {
        display: block;
        width: 100%;
        max-height: 920px;
        object-fit: cover;
    }

    .image-container::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background: linear-gradient(180deg,
                    rgba(13,10,29,0),
                    rgba(13,10,29,.37) 10%,
                    rgba(13,10,29,.55) 20%,
                    rgba(13,10,29,.75) 40%,
                    rgba(13,10,29,.9) 
                    60%,
                    #0d0a1d 80%,
                    #0d0a1d);
        pointer-events: none;
    }

    .text-overlay {
        position: absolute;
        left: 15%;
        bottom: 28%;
        color: white;
        text-align: left;
        z-index: 10;
        pointer-events: none;
        max-width: 900px;
    }

    .text-overlay p {
        margin: 0 0 0;
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000066;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var swiper = new Swiper(".swiper-container", {
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                renderBullet: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + "</span>";
                },
            },
        });
    });
</script>
