---
import { storyblokEditable } from "@storyblok/astro";
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faAngleDown, faCartShopping } from "@fortawesome/free-solid-svg-icons";

library.add(faAngleDown, faCartShopping)

const { blok } = Astro.props;

const arrowDown = icon({ prefix: "fas", iconName: faAngleDown.iconName})
const shoppingCart = icon({prefix: "fas", iconName: faCartShopping.iconName})
---

<div class="nav-body" {...storyblokEditable(blok)}>
    <nav class="navbar">
        <div class="navbar-logo">
            <a class="navbar-brand" href="#">
                <img src={blok.Logo.filename} alt={blok.Logo.alt} />
            </a>
        </div>
        <div class="nav-first">
            <ul id="navbar-first" class="navbar-menu flex gap-4">
                <li class="navbar-item"><span>Clube</span><div class="navbar-item-wrap"><Fragment set:html={arrowDown.html}/></div></li>
                <li class="navbar-item"><span>Calendário</span><div class="navbar-item-wrap"><Fragment set:html={arrowDown.html}/></div></li>
                <li class="navbar-item"><span>Inscreve-te</span><div class="navbar-item-wrap"><Fragment set:html={arrowDown.html}/></div></li>
                <li class="navbar-item"><span>Patrocinadores</span><div class="navbar-item-wrap"><Fragment set:html={arrowDown.html}/></div></li>
            </ul>
        </div>

        <div class="nav-second">
            <ul id="navbar-second" class="navbar-menu flex gap-4">
                <li class="navbar-item"><span>Notícias</span><div class="navbar-item-wrap"><Fragment set:html={arrowDown.html}/></div></li>
                <li class="navbar-item"><span>Equipas</span><div class="navbar-item-wrap"><Fragment set:html={arrowDown.html}/></div></li>
                <li class="navbar-item"><span>Fans</span><div class="navbar-item-wrap"><Fragment set:html={arrowDown.html}/></div></li>
            </ul>
        </div>
        <div id="navbar-shop-btn-wrap">
            <div id="button-group">
                <div id="button-fragment">
                    <Fragment set:html={shoppingCart.html}/>
                </div>
                <span id="navbar-shop-btn-text">Loja</span>
            </div>
        </div>
    </nav>
    <div id="navbar-solid-line"></div>
</div>

<style>
#button-group {
    display: flex;
    align-items: center;
    background-color: #E3B340;
    border-radius: 5px;
    padding: 10px 25px;
    height: 40px;
    margin-right: 50px;
    margin-top: -58px;
    width: 106px;
    font-size: 12px;
}

#button-fragment {
    margin-right: 10px;
    width: 15px;
    color: #ffff;
}

#navbar-shop-btn-text {
    color: #06138A;
    font-weight: bold;
    cursor: pointer;
}

#navbar-shop-btn-wrap {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

#navbar-solid-line {
    background-color: #E3B340;
    height: 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
}

#navbar-second {
    font-size: 16px;
}

#navbar-first {
    font-size: 14px;
}

.navbar-item-wrap {
    display: inline-flex;
    margin-left: 10px;
    width: 10px;
}

.nav-second,
.nav-first {
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
}

.nav-first{
    margin-bottom: 25px;
}

.nav-second {
    font-size: 16px;
    font-weight: bold;
}

.nav-body {
    font-family: Arial, sans-serif;
    width: 100%;
    top: 0%;
}

.navbar {
    width: 100%;
    background-color: #000066;
    display: flex;
    align-items: center;
    padding: 15px 0px 10px 0;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.navbar-logo img {
    width: auto;
    position: absolute;
    height: 110px;
    margin-top: -15px;
    z-index: 1;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 150px;
}

.navbar-item {
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

.sub-navbar {
    background-color: #000066;
    padding: 10px 20px;
}

.sub-navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.sub-navbar-item {
    margin-right: 20px;
    color: white;
    cursor: pointer;
}
</style>
